// Style description: Sass Variables

///////////////////////////////////////////////////////////////////////////////////////////////////
//PX option
///////////////////////////////////////////////////////////////////////////////////////////////////

$unit: px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Font settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$family-1: "Trebuchet MS", Arial, Helvetica, sans-serif;
$size-1: 14px;
$size-2: 16px;
$size-3: 18px;
$size-4: 25px;
$size-5: 36px;

///////////////////////////////////////////////////////////////////////////////////////////////////
// Color settings
///////////////////////////////////////////////////////////////////////////////////////////////////

$header-bg: #efeae2;
$color-dark: #000;
$color-light: #fff;
$color-gray: #efefef;

