<div class="home-main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <h3 class="home-header">CALVIN HARRIS SOCIAL MEDIA</h3>
                <a class="home-links" ng-href="#/instagram">Instagram</a>
                <a class="home-links" ng-href="#/twitter">Twitter</a>
                <a class="home-links" ng-href="#/flickr">Flickr</a>
            </div>
            
            <div class="col-xs-12 col-sm-8">
                <div class="record-player">
                    <h3 class="play-record-header">LISTEN TO CALVIN HARRIS NOW</h3>
                    <img alt="record" class="record" src="app/production/images/record.png">
                    <div class="control-holder">
                        <a ng-click="ctrl.playSong()" class="play controls"><span class="glyphicon glyphicon-play" aria-hidden="true"></span>Play</a>
                        <a ng-click="ctrl.playSong()" class="next controls"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span>Next</a>
                        <a ng-click="ctrl.stopSong()" class="stop controls"><span class="glyphicon glyphicon-stop" aria-hidden="true"></span>Stop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>